.text-center {
    text-align: center;
}

.bg-red {
    background-color: grey;     /* Rename this class later to .bg-grey */
}

.mx-auto {
    margin: auto;              /* Centers block elements horizontally */
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;    /* Stack items vertically */
}

.items-center {
    align-items: center;       /* Center items inside flex container */
}
