*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background:#262a2f;
}

.container{
    background: #fff2f2;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    left:50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.container p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}
.container input{
    width: 100%;
    height: 50px;
    border: 1px solid #4d4d4d;
    padding-left: 15px;
    margin-bottom: 13px;
    font-size: 14px;
    border-radius: 5px;
}
.container button{
    width: 100%;
    height: 50px;
    background: #ff4d4d;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    margin:20px 0;
    cursor: pointer;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.container button:hover{
    background: #d57e7e;
}

#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
#imgBox img{
    width: 100%;
    padding: 10px;
}
#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    display: block;
}